body{
    background: silver;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 45px;
    background: #2c2c2c;
    border-radius: 12px;
    width: 100%;
}
.search{
    width: 90%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 50px;
}
.search-icon{
    position: absolute;
    width: 25px;
    aspect-ratio: 1;
    left: 20px;
}
.sign {
    color: silver;
    padding: 1rem;

}
h1{
    font-weight: 800;
    margin-left: 4rem;
}
.centerer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
}
.main-container{
    width:90vw;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
    width: 250px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 8px 10px #888888;
}
.info{
    margin: 10px;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    width: 230px;
    height: 60px;
    overflow: hidden;
}
.flex-item {
    flex: 1 0 calc((100%/2.1));
    max-height: calc(100%/2.9);
}
.title {
    font-size: medium;
    font-weight: bolder;
    text-overflow: ellipsis;
    max-width: 82%;
    overflow: hidden;
}
.rating , .container{
    float: left;
    font-size: small;
    font-weight: bold;
}
.blue{
    color: royalblue;
}
.duration, .duration-value{
    text-align: right;
}
.release-date, .duration{
    font-weight: bold;
    color: darkgray;
    font-size: small;
}
.date, .duration-value{
    font-size: x-small;
    font-weight: bold;
}